#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

get-orig-source:
	@wget https://github.com/seeschloss/wmcoincoin/archive/master.tar.gz
	@git checkout upstream
	@git pull https://github.com/seeschloss/wmcoincoin.git
	@grep -Po '(?<=AC_INIT\(wmcoincoin, ).*(?=,)' configure.ac \
		> version
	@git show HEAD^:configure.ac | \
		grep -Po '(?<=AC_INIT\(wmcoincoin, ).*(?=,)' > oldversion
	@if test `cat oldversion` = `cat version` ; then \
		echo "`cat version`+`date -d @\`git log -1 --pretty=format:%ct\` +%Y%m%d`" > version; \
	fi
	git checkout master
	@mv -v master.tar.gz \
		../wmcoincoin_`cat version`.orig.tar.gz
	@rm version oldversion
